body{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: rgb(162, 162, 239);
    margin:0;
    padding: 0;
}
header{
    background-color: rgb(46, 46, 118);
    color:#fff;
    text-align: center;
    padding: 20px 0;
}
h1{
    margin:0;
    font-size: 2em;
}

.lista_navegador{
    list-style: none;
    background-color: blueviolet;
    padding: 10px;
    display: flex;
    justify-content: center;
    
}
.lista_navegador li{
    margin: 15px;
    transition: 2s;
}
.lista_navegador li:hover{
    color:#e1ff00;
    font-size: 2em;
}

