    body{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }

    .temblor {
      font-size: 2rem;
      display: inline-block;
      margin: 100px;
      cursor: pointer;
    }

    .temblor:hover {
      animation: shake 0.3s infinite;
    }

    @keyframes shake {
      0% { transform: translate(0); }
      25% { transform: translate(2px, -2px); }
      50% { transform: translate(-2px, 2px); }
      75% { transform: translate(2px, 2px); }
      100% { transform: translate(-2px, -2px); }
    }