html body{
    margin: 0;
    background-color: rgb(133, 234, 234);
    height:100%;
}
header{
    display: flex;
    justify-content: center;
}
.galeria_contenedor{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px;
    padding: 20px;
}
.galeria_imagen{
    width: 200px;
    height: 200px;
    position: relative;
    background-color: rgb(69, 127, 127);
    overflow: hidden;
    border: 1px solid rgb(67, 67, 197);
    border-radius: 10px;
    box-shadow: 0 2px 5px rgb(67, 67, 197);
    transition: transform 0.2s;
    cursor:pointer;
}
.galeria_imagen img{
    position:absolute;
    object-fit: cover;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;

}
.galeria_imagen:hover{
    transform:scale(1.10);
}