body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.nombre {
  font-size: 60px;
  font-weight: bold;
  display: flex;
  gap: 10px;
  justify-content: center;
  margin-top: 50px;
}

.letra {
  display: inline-block;
  transition: transform 0.3s ease, color 0.3s ease;
  cursor: pointer;
}

.letra:hover {
  transform: rotate(10deg) scale(1.4);
  color: deeppink;
}