html body{
    margin: 0;
    background-color: rgb(133, 234, 234);
    height:100%;
}
header{
   background-color: rgb(0, 255, 106); 
   text-align: center;
   color: #0055ff;
}
section{
    display: flex;
    justify-content: center;
    width: 80%;
    height: 450px;
    margin: 0 auto;
}
section img{
    width: 0;
    flex-grow: 1;
    object-fit: cover;
    opacity: 0.8;
    border-radius: 10px;
    transition: 1s ease;
}

section img:hover{
    cursor: crosshair;
    width: 200px;
    opacity: 1;
    filter:contrast(120%) brightness(1.1);
    box-shadow: 0 4px 8px rgb(108, 159, 129);

}